/* Sidebar principal */
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #383e43;
  color: #ffffff;
  
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', Arial, sans-serif;
}

/* Logo */
.sidebarLogo {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.3rem 1.2rem;
  color: #ffffff;
  display: flex;
  align-items:flex-start;
  justify-content:center;
  
}

/* Encabezados */
.sidebarHeading {
  font-size: 0.95rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #b0bec9;
  margin: 1.2rem 0 0.7rem;
  margin-left: 0.5rem;
}

/* Links principales */
.sidebarLink {
  color: #cec9c9;
  font-size: 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 0.7rem 0.7rem;
}

.sidebarLink:hover {
  background: #4e555c;
  color: #ffffff;
}

/* Botones de colapsables */
.collapsible {
  display: flex;
  align-items: center;
  justify-content: start;
  background: none;
  border: none;
  color: #e9e8e8;
  cursor: pointer;
  padding: 0.7rem 0.7rem;
  font-size: 1.1rem;
}

.collapsible:hover {
  background: #4e555c;
}

/* Submenús en columna */
.sidebarNested {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  border-left: 2px solid #2a3136;
  padding-left: 0.5rem;
}

/* Footer fijo */
.sidebarFooter {
  margin-top: auto;
  padding: 1.2rem;
  border-top: 1px solid #2a3136;
}

.sidebarLogout {
  color: #d6d3d3;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 500;
}

.sidebarLogout:hover {
  color: #ffc107;
}